[submodule "aerospike-loader"]
	path = aerospike-loader
	url = git@github.com:aerospike/aerospike-loader.git
[submodule "movie-analytics"]
	path = movie-analytics
	url = git@github.com:aerospike/movie-analytics.git
[submodule "aerospike-client-java"]
	path = aerospike-client-java
	url = git@github.com:aerospike/aerospike-client-java.git
