[submodule "aerospike-loader"]
	path = aerospike-loader
	url = git@github.com:aerospike/aerospike-loader.git
[submodule "movie-analytics"]
	path = movie-analytics
	url = git@github.com:aerospike/movie-analytics.git
[submodule "aerospike-client-java"]
	path = aerospike-client-java
	url = git@github.com:aerospike/aerospike-client-java.git
[submodule "aerospike-sample-applications"]
	path = aerospike-sample-applications
	url = git@github.com:aerospike/aerospike-sample-applications.git
[submodule "aerospike-client-go"]
	path = aerospike-client-go
	url = git@github.com:aerospike/aerospike-client-go.git
